<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3d touch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B603CDB1C0DAFE0001D7D5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B603CEF1C0DAFE0001D7D5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B603CFA1C0DAFE0001D7D5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
